     
     <h3>Latest Classes</h3>
            <div class="col_4">
             <h4>HTML 101</h4>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore 
            magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis</p>
            <a class="button" href="#">View Class</a>
            </div>
            
            <div class="col_4">
            <h4>Intro To PHP</h4>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore 
            magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis</p>
            <a class="button" href="#">View Class</a>
            </div>
            
            <div class="col_4">
            <h4>Learn Node.js</h4>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore 
            magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis</p>
            <a class="button" href="#">View Class</a>
            </div>

        </div>


















































        







        <!-- reuse -->

<!--         
                         <div class="col_4">
     
          {{#each}}
                    <h3>Latest Classes</h3>
            <h4>{{title}}</h4>
            <p>{{description}}</p>
            <a class="button" href="/classes/{{_id}}/details">View Class</a>
            </div> -->
            
            <!-- <div class="col_4">
            <h4>Intro To PHP</h4>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore 
            magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis</p>
            <a class="button" href="#">View Class</a>
            </div>
            
            <div class="col_4">
            <h4>Learn Node.js</h4>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore 
            magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis</p>
            <a class="button" href="#">View Class</a>
            </div> -->

        <!-- </div>
        {{/each}}
 -->
