
<div class="col_3">
<h5>Student & Instructor Login</h5>
<!--             <form action="/login" method="POST">
     we are hitting the login route using the POST method in the form action. 
 -->
            <form>
            <label>Username: </label>
            <input type="text" name="username">
            <label>Password: </label>
            <input type="password" name="password">
            <input class="button" type="submit" value="submit">
            </form>
</div>